In [11]:
import csv
import pandas as pd

In [12]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "../Project1/property_csv.csv"
property_df = pd.read_csv(csv_path)

In [13]:
property_df.head(20)

,Zip Code,Property Type,Avg. Sq Ft,Avg. Market Value,Avg. Year Built,Avg. Price per Sqft
0,78745,Condo,"1,648","$250,306",2007,159.6
1,78745,Duplex,"2,376","$334,159",1984,147.0
2,78745,House,"2,024","$316,202",1982,161.5
3,78705,Condo,887,"$291,485",1983,335.0
4,78705,Duplex,"2,665","$592,842",1945,245.2
5,78705,House,"2,248","$664,104",1938,320.0
6,78729,Condo,"1,726","$263,887",2008,155.9
7,78729,Duplex,"2,161","$336,818",1985,157.4
8,78729,House,"2,037","$312,731",1987,159.0
9,78732,Condo,"3,178","$475,480",2012,153.3
10,78732,Duplex,"4,885","$639,797",1978,120.0
11,78732,House,"3,855","$596,332",2001,154.8
12,78702,Condo,"1,647","$430,717",2007,337.4
13,78702,Duplex,"2,233","$546,949",1968,264.7
14,78702,House,"1,465","$459,171",1959,346.9